AWSTemplateFormatVersion: "2010-09-09"
Parameters:
  # The base CIDR range, subnets will need to be within this range
  BaseVPC:
    Type: String
    MinLength: 9
    MaxLength: 18
    AllowedPattern: "(\\d{1,3})\\.(\\d{1,3})\\.(\\d{1,3})\\.(\\d{1,3})/(\\d{1,2})"
    ConstraintDescription: Must be a valid CIDR range in the form x.x.x.x/16
    Default: 10.20.0.0/16
    # 10.218.2.0/23,10.218.6.0/23,10.218.10.0/23
# VPC and corresponding resources, this will cost money because of the NAT
# gateways, this can be mitigated by removing the NAT gateway and whitelisting
# IP addresses in the security group
Resources:
  VPC:
    Type: "AWS::EC2::VPC"
    Properties:
      CidrBlock: !Ref BaseVPC
  IGW:
    Type: "AWS::EC2::InternetGateway"

  # An Internet Gateway let's in the cats, does not cost money like a
  # typical NAT gateway does
  GatewayAttach:
    Type: "AWS::EC2::VPCGatewayAttachment"
    Properties:
      InternetGatewayId: !Ref IGW
      VpcId: !Ref VPC

  # PublicRouteTable:
  #   Type: AWS::EC2::RouteTable
  #   Properties:
  #     VpcId: !Ref VPC
  #     Tags:
  #       - Key: network
  #         Value: public

  PublicSubnet:
    Type: AWS::CloudFormation::Stack # required
    Properties:
      Parameters:
        IsPublic: "Yes"
        VpcID: !Ref VPC
        GatewayID: !Ref IGW
        # EnvCIDR: !GetAtt VPC.CidrBlock
        NumberOfAZs: "1"
        CIDRMap: 10.20.0.0/24,10.20.4.0/24,10.20.8.0/24
      TemplateURL: https://craft-cf-bucket.s3.us-east-2.amazonaws.com/templates/vpc/subnet.yaml
      TimeoutInMinutes: 10 # not required

  # PrivateSubnet:
  #   Type: AWS::CloudFormation::Stack # required
  #   Properties:
  #     Parameters:
  #       EnvID: !Ref VPC
  #       EnvCIDR: !GetAtt VPC.CidrBlock
  #       NumberOfAZs: "1"
  #       CIDRMap: 10.20.2.0/23,10.20.6.0/23,10.20.10.0/23
  #     TemplateURL: https://craft-cf-bucket.s3.us-east-2.amazonaws.com/templates/vpc/subnet.yaml
  #     TimeoutInMinutes: 10 # not required

Outputs:
  VpcId:
    Description: ID of Shared Infrastructure VPC
    Value: !Ref VPC
    Export: # added to export
      Name:
        Fn::Sub: ${AWS::StackName}-VPC-ID

  CIDR:
    Description: CIDR value of the base vpc
    Value: !GetAtt VPC.CidrBlock
    Export:
      Name:
        Fn::Sub: ${AWS::StackName}-CidrBlock
